<div class="container-fluid p-0">
    <div class="row">
        <div class="col-xl-12 col-xxl-12 d-flex">
            <div class="w-100">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Общее количество пользователей</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{ all_users }}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">В этом месяце</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{ all_this_month_users }} </h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Общее количество блокировок</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{ inactive_users }} </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">В этом месяце</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{ inactive_this_month_users }} </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Общее количество активных пользователей</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{ active_users }} </h1>
                            </div>
                        </div>
                    </div>
                  <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">В этом месяце</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{ active_this_month_users }} </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
